.form{
    background-color: rgb(231, 231, 231);
    margin: 20px;
    border: 1px solid black;
    
}
.inputArea{
    background-color: white;
    padding: 20px;
}
.inputArea input{
    width: 90%;
    height: 30px;
    margin: 5px;
    outline: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.589) inset;
    border: none;
}
.inputArea select{
    width: 90%;
    height: 26px;
    margin: 5px;
    outline: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.589) inset;
    border: none;
}